$blue: #0b5fce;
$margin: 2px;


#email {
    padding: $margin / 1;
    border-color: $blue;
}

#password {
    padding: $margin / 1;
    border-color: $blue;
}

.td-draft {
    background-color: #eeffee;
}

.root-color {
    color: #aaaaab;
}
